<h1>All Cameras</h1>

<% @cameras.each do |camera| %>
    <%= cl_image_tag(camera.image) %>
    <ul>
        <li>Name: <%= link_to camera.name.capitalize, camera %></li>  
        <li>Brand: <%= camera.brand.capitalize %></li>  
    </ul>
<% end %>
